*{margin: 10; padding: 10; box-sizing: border-box;}

button{
    border: solid 2px black;
    background-color: white;
    border-radius: 20px;
    padding: 10px

}

a{
    border: solid 2px black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}