*{margin: 0;padding: 0; box-sizing: border-box;}

.container{
    display: flex;
    align-items: center;
}

img{
    position: left;
}

fieldset{
    border: 5px;
    padding: 10px;
    margin-left: 20px;
    width: 100%;
}

.bold{
    font-weight: bold;
}

button{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    transition: 5px;
}