*{margin: 0; padding: 0%; box-sizing: border-box;}

.fundo{
    background-color: rgba(36, 138, 201, 1);
    background-image: url(../imagem/Desktop\ -\ 7.png) ;
    background-size: 32% ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    

}

.caixatopo{
    width: ;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    min-height: 15vh;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    
}

.caixa-Consultas {
    width: 300px;
    height: 50px;
    background-color: white;
    position: absolute;
    margin-top: 20px;
    left: 10px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    
}

.caixa-prontuarios {
    width: 300px;
    height: 50px;
    background-color:white;
    position: absolute;
    margin-top: 180px;
    left: 0px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.caixa-lateral {
    width: 300px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 0px;
    left: 955px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

#horario{
    position:absolute;
    top: 30px;
    left: 300px

}

#Telefone{
    position: absolute;
    top: 60px;
    left: 300px

}


#barra{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px black;
    padding: 20px;
    text-align: center;
    background-color: #074496;
    margin-top: 375px;
  }
  
  
.bold{
    font-weight: bold;
    
}
