*{margin: 0;padding: 0; box-sizing: border-box;}

.login{
    text-align: center;
    background-color: #fff;
    padding: 50px;
    display: block;
    border-radius: 50px;
    text-transform: uppercase;
    border: 2px solid black;
    margin: 30%;
    margin-top: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 80%;
}

.btn{
    background-color: rgb(36, 138, 201, 1);
    border: solid 2px black;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#barra{
    color: #fff;
    background-color: rgb(36, 138, 201, 1);
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px black;
    padding: 20px;
    text-align: center;
    margin-top: 1%;
  }